<%- include('../partials/header') %>

<main id="add-gig"class="background">
<h2 class="titles"><%= title %></h2>
<form id="add-gig-form" action="/listers" method="POST">
    <label>Title:</label>
    <input class="input-new" type="text" name="title">
    <label>Date/Time:</label>
    <input class="input-new" type="datetime-local" name="date">
    <label>Location/Address:</label>
    <input class="input-new" type="text" name="location">
    <label class="text-area-new">Provide any extra details, such as pay, prerequisities, etc.:</label>
    <textarea class="text-area-new" class="input-new" rows="5" cols="33" name="desc_"></textarea>
    <input type="submit" value="Upload">
</form>
</main>
<%- include('../partials/footer') %>