<%- include('../partials/header') %>

<form action="/listers" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Date:</label>
    <input type="number" name="date">
    <label>Time:</label>
    <input type="number" name="time">
    <label>Location/Address:</label>
    <input type="text" name="location">
    <label>Please give a brief description of the job:</label>
    <textarea rows="5" cols="33" name="desc_"></textarea>
    <input type="submit" value="Upload">
</form>

<%- include('../partials/footer') %>