<%- include('../partials/header') %>

<form action="/applicants/" method="POST">
    <!-- <label>Please type name:</label>
    <input type="text" name="name"> -->
    <label>Please type your address/location:</label>
    <input type="text" name="address">
    <label>Please type or paste a brief resume or description detailing your experience/skills:</label>
    <textarea name="resume"></textarea>
    <input type="submit" value="Submit">
</form>

<%- include('../partials/footer') %>